<!-- カートの商品 -->
  <div class="col-sm-7">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="table-info">商品名</th>
          <th class="table-info">単価(税込)</th>
          <th class="table-info">数量</th>
          <th class="table-info">小計</th>
        </tr>
      </thead>
      <tbody>
        <% @total_price = 0 %>
        <% @cart_products.each do |cart| %>
          <tr>
            <td class="table-light align-middle">
              <%= attachment_image_tag cart.product, :image, :fill, 50, 50, format: 'jpeg'%>
              <%= cart.product&.name %>
            </td>
            <td class="table-light align-middle">
              <% tax_price = cart.product.non_taxed_price * 1.1 %>
              <%= comma_price(tax_price) %>
            </td>
            <td class="table-light align-middle">
              <%= form_with model: cart, url: cart_product_path(cart.product.id), method: :patch do |f| %>
                <%= f.number_field :quantity, min:1, step: 1, style: "width: 60px;", class: "form-control float-left" %>
                <%= f.submit '変更', class: "btn btn-primary btn-sm float-left mt-1" %>
              <% end %>
            </td>
            <% subtotal = tax_price * cart.quantity %>
            <td class="table-light align-middle"><%= comma_price(subtotal) %></td>
          </tr>
          <% @total_price += subtotal %>
        <% end %>
      </tbody>
    </table>
  </div>

  <!-- 金額情報テーブル -->
  <div class="col-sm-4 pl-5">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th class="table-info">送料</th>
          <td class="table-light">800</td>
        </tr>
        <tr>
          <th class="table-info">商品合計</th>
          <td class="table-light"><%= comma_price(@total_price) %></td>
        </tr>
        <tr>
          <th class="table-info">請求金額</th>
          <td class="table-light"><%= billion_price(@total_price) %></td>
        </tr>
      </tbody>
    </table>
  </div>