<div class="row">
  <div class="col-md-2 offset-md-1">
    <h4 style="background-color: gray; width: 100px;">会員一覧</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <table class="table">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= customer.last_name + '    ' + customer.first_name %></td>
          <td><%= customer.email %></td>
          <td><%= status(customer.is_valid) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @customers %>
  </div>
</div>