<div class="row">
  <div class="col-md-2 offset-md-1">
    <h5><span>会員一覧</span></h5>
  </div>
</div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <table class="table">
      <thead>
        <tr class="table-info">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
        <tr class="table-light">
          <td><%= customer.id %></td>
          <td><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer) %></td>
          <td><%= customer.email %></td>
          <td><%= status(customer.is_valid) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="offset-sm-5">
      <%= paginate @customers %>
    </div>
  </div>
</div>