<div class="row">
  <h2 class="col-12">注文履歴詳細</h2>

  <!-- 商品の内訳 -->
  <div class="col-9">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th>製作ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_products.each do |order_product| %>
        <tr>
          <!-- 商品名 -->
          <td><%= order_product.product.name %></td>
          <!-- 単価（税込） -->
          <td><%= tax(order_product.product.non_taxed_price).to_s(:delimited) %></td>
          <!-- 数量 -->
          <td><%= order_product.number %></td>
          <!-- 小計 -->
          <td><%= (tax(order_product.product.non_taxed_price) * order_product.number).to_s(:delimited) %></td>
          <!-- 製作ステータス -->
          <%= form_for order_product, url: "/admin/order_products/#{order_product.id}", class: "form-group" do |f| %>
            <td>
              <%= f.select :production_status, OrderProduct.production_statuses.keys, class: "form-control production_status" %>
              <%= f.submit value: "更新", class: "btn btn-primary" %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!-- 合計金額 -->
  <div class="col-3">

    <div class="field row">
      <p class="col-6 font-weight-bold">商品合計</p>
      <p class="col-6"><%= @order.billing_total - @order.fare %>円</p>
    </div>

    <div class="field row">
      <p class="col-6 font-weight-bold">送料</p>
      <p class="col-6"><%= @order.fare %>円</p>
    </div>

    <div class="field row">
      <p class="col-6 font-weight-bold">請求金額合計</p>
      <p class="col-6"><%= @order.billing_total %>円</p>
    </div>

  </div>
</div>