<div class="row">
  <div class="col-sm-12">
    <h5 class="offset-sm-2"><span>マイページ</span></h5>

    <div class="top_menu row mt-4">
      <p class="font-weight-bold col-sm-1">登録情報</p>
      <p class="col-sm-2"><%= link_to '編集する', edit_customers_path, class: "btn btn-primary btn-block" %></p>
      <p class="col-sm-3"><%= link_to 'パスワードを変更する', '#', class: "btn btn-primary btn-block" %></p>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <table class="table table-bordered registration_information">
          <tbody>
          <tr>
            <th class="table-info", width="200">氏名</th>
            <td class="table-light"><%= @customer.last_name + '  ' + @customer.first_name %></td>
          </tr>
          <tr>
            <th class="table-info", width="200">カナ</th>
            <td class="table-light"><%= @customer.kana_last_name + '   ' + @customer.kana_first_name %></td>
          </tr>
          <tr>
            <th class="table-info", width="200">郵便番号</th>
            <td class="table-light"><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <th class="table-info", width="200">住所</th>
            <td class="table-light"><%= @customer.address %></td>
          </tr>
          <tr>
            <th class="table-info", width="200">電話番号</th>
            <td class="table-light"><%= @customer.phone_number %></td>
          </tr>
          <tr>
            <th class="table-info", width="200">メールアドレス</th>
            <td class="table-light"><%= @customer.email %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="bottom_menu">
      <div class="row">
        <p class="col-sm-1 font-weight-bold">配送先</p>
        <p class="col-sm-2"><%= link_to '一覧を見る', ships_path, class: "btn btn-primary btn-block" %></p>
      </div>
      <div class="row">
        <p class="col-sm-1 font-weight-bold">注文履歴</p>
        <p class="col-sm-2"><%= link_to '一覧を見る', orders_path, class: "btn btn-primary btn-block" %></p>
      </div>
    </div>

  </div>
</div>