<div class="row">
  <div class="col">
    <h5><span>注文情報確認</span></h5>
  </div>
</div>

  <!-- カート商品テーブル -->
  <div class="row" id="cart_table">
    <%= render 'cart_products/confirmation_new', { cart_products: @cart_products, order: @order } %>
  </div>

<%= form_with model: @order, local: true do |f| %>
  <!-- 支払方法 -->
  <%= f.hidden_field :payment_method, :value => @order.payment_method %>

  <div class="row">
    <div class="col-sm-1">
      <span>支払方法</span>
    </div>
    <div class="col-sm-2">
      <span><%= @order.payment_method %></span>
    </div>
  </div>

  <!-- 自分の住所に送る -->
  <% if params[:order][:key] == 'my_address' %>
    <div class="row mt-3">
      <div class="col-sm-1">
        <span>お届け先</span>
      </div>
      <div class="col-sm">
        <span>
          <%= current_customer.postal_code + current_customer.address %><br>
          <%= current_customer.last_name + current_customer.first_name %>
        </span>
      </div>
    </div>
    <%= f.hidden_field :postal_code, :value => current_customer.postal_code %>
    <%= f.hidden_field :address, :value => current_customer.address %>
    <%= f.hidden_field :address_name, :value => current_customer.last_name + current_customer.first_name %>

  <!-- 登録済みの住所に送る -->
  <% elsif params[:order][:key] == 'other_address' %>
    <div class="row mt-3">
      <div class="col-sm-1">
        <span>お届け先</span>
      </div>
      <div class="col-sm">
        <span>
          <%= @order_ship.postal_code + @order_ship.address %><br>
          <%= @order_ship.name %>
        </span>
      </div>
    </div>
    <%= f.hidden_field :postal_code, :value => @order_ship.postal_code %>
    <%= f.hidden_field :address, :value => @order_ship.address %>
    <%= f.hidden_field :address_name, :value => @order_ship.name %>

  <!-- 新しい住所に送る -->
  <% else %>
    <div class="row mt-3">
      <div class="col-sm-1">
        <span>お届け先</span>
      </div>
      <div class="col-sm">
        <span>
          <%= @ship.postal_code.to_s + @ship.address.to_s %><br>
          <%= @ship.name.to_s %>
        </span>
      </div>
    </div>
    <%= f.hidden_field :postal_code, :value => @ship.postal_code.to_s %>
    <%= f.hidden_field :address, :value => @ship.address.to_s %>
    <%= f.hidden_field :address_name, :value => @ship.name.to_s %>
    <%= f.hidden_field :key, :value => 'new_address' %>
  <% end %>

  <div class="row mt-5" style="text-align: center;">
    <div class="col-md-4 offset-md-4">
      <%= f.submit '購入を確定する', class:"btn btn-success" %>
    </div>
  </div>

<% end %>


