<h3>支払方法    <%= @order.payment_method %></h3>

<%= form_with model: @order, local: true %>
  <% if params[:order][:key] == 'other_address' %>
    <h3>お届け先        <span><%= @order_ship.postal_code + @order_ship.address + @order_ship.name %><span></h3>
  <% elsif params[:order][:key] == 'my_address' %>
    <h3>お届け先        <%= current_customer.postal_code + current_customer.address %><br>
        <%= current_customer.last_name + current_customer.first_name %></h3>
  <% else %>
    <h3>お届け先        <%= @ship.postal_code.to_s + @ship.address.to_s + @ship.name.to_s %></h3>
  <% end %>
