<div class="row">
  <div class="col-sm pl-5">
    <h5><span>注文履歴一覧</span></h5>
  </div>
</div>

<div class="row">
	<div class="col-sm">
		<!-- 注文一覧テーブル -->
		<table class="table table-bordered">
			<thead>
				<tr class="table-info">
					<th>注文日</th>
					<th>配送先</th>
					<th>注文商品</th>
					<th>支払い金額</th>
					<th>ステータス</th>
					<th>注文詳細</th>
				</tr>
			</thead>
			<tbody>
				<% @orders.each do |order| %>
					<tr>
						<td class="table-light align-middle"><%= order.created_at.strftime('%Y/%m/%d')  %></td>
						<td class="table-light align-middle"><%= order.postal_code %><br/>
							<%= order.address %><br/>
							<%= order.address_name %>
						</td>
						<td class="table-light align-middle">
							<% order.products.each do |order_product| %>
								<%= order_product.name %><br>
							<% end %>
						</td>
						<td class="table-light align-middle"><%= order.billing_total.floor.to_s(:delimited) %>円</td>
						<td class="table-light align-middle"><%= order.order_status %></td>
						<td class="table-light align-middle text-center"><%= link_to "表示する" ,order_path(order.id) , class:"btn btn-primary"%></td>
					</tr>
			 	<% end %>
			</tbody>
		</table>
	</div>
</div>