<div class="row my-4">
  <div class="col pl-5">
    <h5><span class="bg-info text-light">注文情報入力</span></h5>
  </div>
</div>

<%= form_with url: confirmation_orders_path, method: :get, local: true do |f| %>
  <h3>支払い情報入力</h3>

	<div class="radio-inline">
    <%= f.radio_button :payment_method, 'クレジットカード', checked: "checked" %>
    <%= f.label :クレジットカード, class: "job_type_label" %>
	</div>
	<div class="radio-inline">
		<%= f.radio_button :payment_method, '銀行振り込み' %>
	    <%= f.label :銀行振り込み, class: "job_type_label" %>
	</div>

  <h3>お届け先</h3>

  <div class="radio-inline">
    <%= f.radio_button :address, current_customer.postal_code + '  ' + current_customer.address + '  ' + current_customer.last_name + current_customer.first_name %>
    <%= f.label :address, 'ご自身の住所に送る' %>
  </div>

  <%= f.submit '確認画面へ進む', class: "btn btn-primary btn-sm" %>
<% end %>