<div class="row">
  <div class="col-sm">
    <h5><span>注文情報入力</span></h5>
  </div>
</div>

<%= render 'layouts/error_messages', model: @ship %>

<% if @other_address_error %>
  <ul>
    <li>住所が登録されていません</li>
    <li style="list-style: none;"><%= link_to "配送先を登録する", ships_path %></li>
  </ul>
<% end %>

<!-- 注文情報入力フォーム -->
<%= form_with model: @order,url: confirmation_new_order_path, local: true do |f| %>
  <!-- 支払い情報入力欄 -->
  <div class="row">
    <div class="col-sm">
      <h6>支払い情報入力</h6>
      <div class="pl-5">
        <div class="radio-inline">
          <%= f.radio_button :payment_method, 'クレジットカード', checked: "checked" %>
          <%= f.label :クレジットカード, class: "job_type_label" %>
        </div>
        <div class="radio-inline">
          <%= f.radio_button :payment_method, '銀行振り込み' %>
          <%= f.label :銀行振り込み, class: "job_type_label" %>
        </div>
      </div>
    </div>
  </div>

  <!-- お届け先入力欄 -->
  <div class="form-row">
    <div class="col-sm">
      <h6>お届け先入力</h6>

      <!-- ご自身の住所選択 -->
      <div class="pl-5">
        <%= f.radio_button :key, 'my_address', checked: "checked" ,id:"address_1"%>
        <%= f.label :key, 'ご自身の住所' %><br>
        <div class="pl-5">
          <%= current_customer.postal_code + current_customer.address %><br>
          <%= current_customer.last_name + current_customer.first_name %>
        </div>
      </div>

      <!-- 登録先住所から選択 -->
      <% if @current_carts.present? %>
        <div class="pl-5">
          <%= f.radio_button :key, 'other_address' ,id:"address_2" %>
          <%= f.label :key, '登録済住所から選択' %><br>
          <div class="pl-5">
            <%= f.fields_for @ship do |i| %>
              <%= i.collection_select :id, Ship.where(customer_id: current_customer.id), :id, :view_all_customer_date, {}, class: 'col-sm-4 form-control primary',oninput:"AutoCheck(this.value ,'address_2');" %>
            <% end %>
          </div>
        </div>
      <% end %>

      <!-- 新しいお届け先から選択 -->
      <div class="pl-5">
        <%= f.radio_button :key, 'new_address',id:"address_3",value:"on" %>
        <%= f.label :key, '新しいお届け先' %><br>
        <div class="pl-5">
          <%= f.fields_for @ship do |i| %>
            <table class="table table-sm table-borderless col-sm-10">
              <tr>
                <td><%= i.label :postal_code, '郵便番号(ハイフンなし)' %></td>
                <td><%= i.text_field :postal_code ,class: "col-sm-5 form-control",oninput:"AutoCheck(this.value ,'address_3');" %></td>
              </tr>
              <tr>
                <td><%= i.label :address, "住所" %></td>
                <td><%= i.text_field :address, size:60,class: "form-control",oninput:"AutoCheck(this.value ,'address_3');" %></td>
              </tr>
              <tr>
                <td><%= i.label :name, '宛名' %></td>
                <td><%= i.text_field :name, size:30,class: "col-sm-5 form-control",oninput:"AutoCheck(this.value ,'address_3');" %></td>
              </tr>
            </table>
          <% end %>
        </div>
      </div>

      <!-- 確認画面に進む -->
      <div class="row" style="text-align: center;">
        <div class="col-md-4 offset-md-4">
          <%= f.submit "確認画面に進む", class:"btn btn-primary" %>
        </div>
      </div>

    </div>
  </div>

<% end %>

<script type="text/javascript">
function AutoCheck(str,checkname) {
    if( str.length > 0 ) {
        document.getElementById(checkname).checked = true;
    }
    else {
        document.getElementById(checkname).checked = false;
    }
}
</script>
