<div class="row my-4">
  <div class="col pl-5">
    <h5><span class="bg-info text-light">注文情報入力</span></h5>
  </div>
</div>

<%= form_with model: @order,url: confirmation_orders_path, local: true do |f| %>
  <h3>支払い情報入力</h3>

	<div class="radio-inline">
    <%= f.radio_button :payment_method, 'クレジットカード', checked: "checked" %>
    <%= f.label :クレジットカード, class: "job_type_label" %>
	</div>
	<div class="radio-inline">
		<%= f.radio_button :payment_method, '銀行振り込み' %>
	    <%= f.label :銀行振り込み, class: "job_type_label" %>
	</div>

  <h3>お届け先入力</h3>

  <div>
    <%= f.radio_button :key, 'my_address', checked: "checked" %>
    <%= f.label :key, 'ご自身の住所' %><br>
      <%= current_customer.postal_code + current_customer.address %><br>
      <%= current_customer.last_name + current_customer.first_name %>
  </div>

  <div>
    <%= f.radio_button :key, 'other_address' %>
    <%= f.label :key, '登録済住所から選択' %><br>
      <%= f.fields_for @ship do |i| %>
        <%= i.collection_select :id, Ship.where(customer_id: current_customer.id), :id, :view_all_customer_date, class: "form-control" %>
      <% end %>
  </div>

  <div>
    <%= f.radio_button :key, 'new_address' %>
    <%= f.label :key, '新しいお届け先' %><br>
      <%= f.fields_for @ship do |i| %>
        <div>
          <%= i.label :postal_code, '郵便番号(ハイフンなし)' %>
          <%= i.text_field :postal_code %>
        </div>
        <div>
          <%= i.label :address, '住所' %>
          <%= i.text_field :address %>
        </div>
        <div>
          <%= i.label :name, '宛名' %>
          <%= i.text_field :name %>
        </div>
      <% end %>
  </div>


  <%= f.submit '注文確認へ進む' %>
<% end %>
