<div class="row my-4">
  <div class="col pl-5">
    <h5><span class="bg-light">注文履歴詳細</span></h5>
  </div>
</div>


<div class="row">
	<div class="col-6">
 		<h5>注文情報</h5>


		
			<table class="table">
				<tr>
					<th class="light">注文日</th>
					<td><%= @order.created_at.strftime('%Y/%m/%d')  %></td>
				</tr>
				<tr>
					<th class="light">支払い方法</th>
					<td><%= @order.payment_method %></td>
				<tr>
					<th class="light">ステータス</th>
					<td><%= @order.order_status %></td>
				</tr>
			</table>

	</div>

	<div class="col-4">
	 	<h5>請求情報</h5>

		<table class="table">
			<tr>
				<th>商品合計</th>
				<td><%= (@order.billing_total - @order.fare) %></td>
			</tr>
				<th>送料</th>
				<td><%= @order.fare %></td>
			</tr>
			<tr>
				<th>請求金額</th>
				<td><%= @order.billing_total %></td>
			</tr>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-7">
		<h5>注文内容</h5>

		<table class="table">
			<thead class="thead-light">
				<tr>
					<th>商品名</th>
					<th>単価(税込)</th>
					<th>個数</th>
					<th>小計</th>
				</tr>
			</thead>
			<tbody>
				<% @order_products.each do |order_product| %>
					<tr>
						<td><%= order_product.product.name %></td>
						<td><%= order_product.taxed_price %></td>
						<td><%= order_product.number %></td>
						<td><%= order_product.taxed_price * order_product.number%></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

