<div class="row my-4">
  <div class="col-sm pl-5">
    <h5><span>注文履歴詳細</span></h5>
  </div>
</div>

<div class="row">
	<!-- 注文情報テーブル -->
	<div class="col-sm-6">
 		<span>注文情報</span>
		<table class="table table-bordered">
			<tbody class="thead-light">
				<tr>
					<th>注文日</th>
					<td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
				</tr>
				<tr>
					<th>支払い方法</th>
					<td><%= @order.payment_method %></td>
				</tr>
				<tr>
					<th>ステータス</th>
					<td><%= @order.order_status %></td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- 請求情報テーブル -->
	<div class="col-sm-4">
	 	<span>請求情報</span>
		<table class="table table-bordered">
			<tbody class="thead-light">
				<tr>
					<th>商品合計</th>
					<td><%= (@order.billing_total - @order.fare).floor.to_s(:delimited) %></td>
				</tr>
					<th>送料</th>
					<td><%= @order.fare.floor.to_s(:delimited) %></td>
				</tr>
				<tr>
					<th>請求金額</th>
					<td><%= @order.billing_total.floor.to_s(:delimited) %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- 注文内容テーブル -->
<div class="row">
	<div class="col-sm-7">
		<span>注文内容</span>
		<table class="table table-bordered">
			<thead class="thead-light">
				<tr>
					<th>商品名</th>
					<th>単価(税込)</th>
					<th>個数</th>
					<th>小計</th>
				</tr>
			</thead>
			<tbody>
				<% @order_products.each do |order_product| %>
					<tr>
						<td><%= order_product.product.name %></td>
						<td><%= order_product.taxed_price.floor.to_s(:delimited) %></td>
						<td><%= order_product.number.floor.to_s(:delimited) %></td>
						<td><%= (order_product.taxed_price * order_product.number).floor.to_s(:delimited) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

