<div class="row my-4">
  <div class="col pl-5">
    <h5><span class="bg-info text-light">注文履歴詳細</span></h5>
  </div>
</div>

<div class="row">
	<div>注文情報</div>
	<div><%= @order.created_at %></div>
	<div><%= @order.payment_method %></div>
	<div><%= @order.order_status %></div>
</div>

<div class="row">
	<div>注文内容</div>
</div>

<div class="row">
	<div>請求情報</div>
	<div>送料<%= @order.fare %>円</div>
	<div>請求金額<%= @order.billing_total %>円</div>
</div>


<% @order_products.each do |order_product| %>
	<div>商品番号<%= order_product.product_id %></div>
	<div>個数<%= order_product.number %></div>
	<div>税込価格<%= order_product.taxed_price %></div>
<% end %>