<div class="row">
  <div class="col">
    <h5>配送先登録 / 一覧</h5>

    <!-- 配送先新規登録 -->
    <div class="form-group">
      <%= form_for @ship_new do |f| %>

        <div class="field row">
          <%= f.label :postal_code, "郵便番号(ハイフンなし)" , class: "col-3 col-form-label" %>
          <%= f.text_field :postal_code, class: "form ship_postal_code", size: 20  %>
        </div>

        <div class="field row">
          <%= f.label :address, "住所", class: "col-3 col-form-label" %>
          <%= f.text_field :address, class: "form ship_address", size: 40 %>
        </div>

        <div class="field row">
          <%= f.label :name, "宛名", class: "col-3 col-form-label" %>
          <%= f.text_field :name, class: "form ship_name", size: 20  %>
          <%= f.submit value: "登録する", class: "btn btn-success float-right" %>
        </div>

      <% end %>
    </div>
  </div>
</div>

<!-- 配送先一覧 -->
<div class="row">
  <div class="col">
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @ships.each do |ship| %>
        <tr>
          <td><%= ship.postal_code %></td>
          <td><%= ship.address %></td>
          <td><%= ship.name %></td>
          <td>
            <%= link_to "編集する", edit_ship_path(ship), class: "btn btn-primary" %>
            <%= link_to "削除する", ship_path(ship), class: "btn btn-danger", method: :delete %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
