<h5><span>商品一覧</span></h5>

<div class="float-sm-right">
<%= link_to new_admin_product_path, style:"border-bottom: none;" do %>
  <%= embedded_svg("plus-circle.svg", class: "svg") %>
<% end %>
</div>

<table class="table">
  <thead>
    <tr class="table-info col text-center">
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr class="table-light col text-center">
        <td><%= product.id %></td>
        <td><%= link_to product.name, admin_product_path(product.id) %></td>
        <td><%= converting_to_jpy(product.non_taxed_price) %></td>
        <td><%= product.genre.genre_name %></td>
        <td><%= sales(product.has_sold) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

    <%= paginate @products %>