<div class="row">
	<div class="col-sm-2 mt-4">
		<table border="1">
    		<thead>
        		<tr class="table-info">
        		<th width="180" height="20">
					ジャンル検索
				</th>
				</tr>
			</thead>
		</table>
		<table frame="box">
			<tbody>
				<% @genres.each do |genre| %>
				<tr class="table-light">
					<td width="180" height="60">
						<%= link_to  products_path(genre_id: genre.id) do %>
						<%= genre.genre_name %>
						<% end%>
				<% end %>
					</td>
				</tr>
    		</tbody>
  		</table>
  	</div>

	<div class="col-sm-10">
		<ul class="list-inline">
			<li class="list-inline-item">
				<h3><strong>商品一覧</h3></strong>
			</li>
			<li class="list-inline-item">
				<h5>(全<%= @products.total_count %>件)</h5>
			</li>
		</ul>
		<div class="row">
			<% @products.each do |product| %>
			<div class="indexnewbox">
  				<div class="list p-2 my-2">
  					<%= link_to product_path(product.id) do %>
					<%= attachment_image_tag product, :image, :fill, 200, 100, format: 'jpeg'%>
					<% end %><br>
					<strong><%= link_to product.name, product_path(product) %></strong><br>
					<strong>¥<%= product.non_taxed_price.to_s(:delimited)%></strong>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>

<div>
	<%= paginate @products %>
</div>