<div class="row">
	<div class="col-sm-2 mt-4">
		<table border="1">
    		<thead>
        		<tr class="table-info">
        		<th width="180" height="20">
					ジャンル検索
				</th>
				</tr>
			</thead>
		</table>
		<table frame="box">
			<tbody>
				<% @genres.each do |genre| %>
				<tr class="table-light">
					<td width="180" height="60">
						<%= link_to  products_path(genre_id: genre.id) do %>
						<%= genre.genre_name %>
						<% end%>
				<% end %>
					</td>
				</tr>
    		</tbody>
  		</table>
  	</div>
	<div class ="col-sm-5 mt-5 px-5">
				<%= attachment_image_tag @product, :image, :fill, 350, 180, format: 'jpeg'%>
	</div>

	<div class ="col-sm-5 mt-5">
				<h3><strong><%= @product.name %></strong></h3><br>
				<p><%= @product.introduction %></p><br>
				<ul class="list-inline">
					<li class="list-inline-item">
					<strong><h3>¥<%= addTax(@product.non_taxed_price,1.10) %></h3></strong></li>
					<li class="list-inline-item">
					<font style="font-size:small">(税込)</font><br></li>
				</ul>
			<div class="form-inline mt-4">
				<% if customer_signed_in? %>
				<div align="right">
				<%= form_with model: @cart_product, url: cart_products_path(product_id: @product.id), method: :post, local: true do |f| %>
					<%= f.number_field :quantity, min:1, step: 1, placeholder: "個数選択", class: "form-control col-sm-4" %>
					<%= f.hidden_field :product_id, :value => @product.id %>
					<%= f.submit('カートに入れる',class: "btn btn-primary") %>
				<% end %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
