<div class="row">
		<div class="col-3">
			<table class ="table">
				<tr>
					<th><strong> ジャンル検索</strong></th>
					<td>
						<!--scss td {border: none;}-->
						<% @genre.each do |genre| %>
						<%= link_to  product_path(@genre.id) do %>
						<%= product.genre %>
						<% end%>
					</td>
						<% end %>
				</tr>
			</table>
		</div>

		<div class ="col-9">
			<% @products.each do |product| %>
			<div class="row">
				<div class="col-4">
					<%= attachment_image_tag product, :image, :fill, 300, 600, format: 'jpeg'%>
				</div>
				<div class="col-5">
					<%= product.name%><br>
					<%= product.introduction%><br>
					<!--<p>¥</p><%= taxed_price%><p>(税込商品)</p>-->
				<form class="form-inline">
					<%= form_for @product do |f| %>
						<%= f.label :number, "個数選択"%>
						<%= f.select :number, [1,2,3,4,5,6,7,8,9] %>
						<%= form.submit('カートに入れる',class: "btn btn-primary") %>
						<!--<%= link_to ""%>-->
					<% end %>
				</form>
				</div>
			</div>
			<% end %>
		</div>
</div>

