<div class="row">
	<div class="col-sm-2 mt-4">
		<table border="1">
    		<thead>
        		<tr class="table-info">
        		<th width="180" height="20">
					ジャンル検索
				</th>
				</tr>
			</thead>
		</table>
		<table frame="box">
			<tbody>
				<% @genres.each do |genre| %>
				<tr class="table-light">
					<td width="180" height="60">
						<%= link_to  products_path(genre_id: genre.id) do %>
						<%= genre.genre_name %>
						<% end%>
				<% end %>
					</td>
				</tr>
    		</tbody>
  		</table>
  	</div>

	<div class="col-sm-10 ">
		<strong>
  		<div class="jumbotron jumbotron-fluid text-white text-left pl-5 mt-4">
    			ようこそ、NaganoCakeへ！<br>このサイトは、ケーキ販売のECサイトになります。<br>会員でない方も商品の閲覧はできますが、<br>購入には会員登録が必要になります。
    	</div>
  		<strong>
		<h3>オススメ商品</h3>
		</strong>
		<div class="row">
			<% @products.each do |product| %>
			<div class="topnewbox">
  				<div class="list p-2 my-2">
  					<%= link_to product_path(product.id) do %>
					<%= attachment_image_tag product, :image, :fill, 200, 100, format: 'jpeg'%>
					<% end %><br>
					<%= link_to product.name, product_path(product.id) %><br>
					¥<%= product.non_taxed_price %>
				</div>
			</div>
			<% end %>
		</div>
			<div class="col-11 sm-11">
				<div class="text-right">
				<%= link_to products_path do %>
  				<p><u>もっと見る></u></p>
				<% end %>
				</div>
			</div>
	</div>
</div>
