<div class="row">
  <div class="col-md-2 offset-md-1">
    <h5><span>製品</span></h5>
  </div>
</div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <table class="table">
      <thead>
        <tr class="thead-light">
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= link_to product.name, admin_product_path(product.id) %></td>
            <td><%= converting_to_jpy(product.non_taxed_price) %></td>
            <td><%= product.genre.genre_name %></td>
            <td><%= sales(product.has_sold) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>