<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="<%= ENV['KEY'] %>"  crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="containar">
      <!-- ヘッダー -->
        <header class="navbar navbar-fixed-top">

          <nav class="navbar-brand">
            <span>NAGANO CAKE</span>
          </nav>
          <nav>
            <ul class="nav navbar  navbar-light">
              <!--if文でサインインとアウト時の表示を変更-->
              <% if customer_signed_in? %>
              <li class="pr-5">
                <span>ようこそ、<%= current_customer.last_name %>さん!</span>
              </li>
              <li class="nav-item">
                <%= link_to ' マイページ ', customers_path, class: 'btn btn-info' %>
              </li>
              <li class="nav-item pl-4">
                <%= link_to ' 商品一覧 ', products_path, class: 'btn btn-info' %>
              </li>
              <li class="nav-item pl-4">
                <%= link_to ' カート ', cart_products_path, class: 'btn btn-info' %>
              </li>
              <li class="nav-item pl-4">
                <%= button_to ' ログアウト ', customers_sign_out_path , class: 'btn btn-info', method: :delete %>
              </li>

              <% elsif current_admin %>
              <li class="nav-item">
                <%= link_to ' 商品一覧 ', admin_products_path, class: 'btn btn-outline-light bg-info' %>
              </li>
              <li class="nav-item pl-4">
                <%= link_to ' 会員一覧 ', admin_customers_path, class: 'btn btn-light' %>
              </li>
              <li class="nav-item pl-4">
                <%= link_to ' 注文履歴一覧 ', admin_orders_path, class: 'btn btn-light' %>
              </li>
              <li class="nav-item pl-4">
                <%= link_to ' ジャンル一覧 ', admin_genres_path, class: 'btn btn-light' %>
              </li>
              <li class="nav-item pl-4">
                <%= button_to ' ログアウト ', admin_sign_out_path , class: 'btn btn-light', method: :delete %>
              </li>

              <!-- 管理者用検索窓 -->
              <%= form_with url: admin_search_path, scope: :search, method: :get, local: true do |f| %>
                <div class="input-group">
                  <%= f.text_field :content, placeholder: 'キーワード検索', style: 'border-radius: 5%;' %>
                  <span class="input-group-btn">
                  <%= f.button class: "btn btn-default" do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                  </span>
                </div>
              <% end %>

              <% else %>

              <li class="nav-item">
                <%= link_to ' 商品一覧 ', products_path, class: 'btn btn-info' %>
              </li>
              <li class="nav-item pl-4">
                <%= link_to ' ログイン ', customers_sign_in_path, class: 'btn btn-info' %>
              </li>
              <li class="nav-item pl-4">
                <%= link_to ' 新規登録 ', customers_sign_up_path, class: 'btn btn-info' %>
              </li>
              <% end %>
            </ul>

          </nav>

        </header>
      </div>
    </div>


    <div class="container-fluid">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <!-- フッター -->
    <footer id="footer">
    </footer>
  </body>
</html>
